body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
} 

.container {
    margin: 0 auto;
    max-inline-size: 600px;
    padding: 0 1rem;
    
}


/* Header Section */
header {
    background-image: url(/images/burger-header.png);
    background-size: cover;
    height: 200px;
    color: white;
    padding: 30px 0;
}

/* Menu Section */
.food-card,
.food-info{
    align-items: center;
}

.food-card{
    border-bottom: 1px solid #D2D2D2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.food-info{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
    align-items: center;
}

.icon{
    font-size: 70px;
}

.add-food{
    justify-self: end;
}

/* Cart Section */
.cart-price{
    display: flex;
    justify-content: space-between;
}
.cart-item-info{
    display: flex;
    justify-content: start;
    gap: 20px;
}
.cart-item{
    display: flex;
    justify-content: space-between;
}

/* Checkout Section */
.checkout-form {
    position: fixed;
    top: 50%;
    left: 50%;
    
    background-color: white;
    text-align: center;
    box-shadow: 0 0 999px black;
    border-radius: 5px;
    padding: 20px 15px;
    margin: 0 auto;
}

.checkout-form input{
    display: block;
    padding: 10px 15px;
    margin: 0 0 15px;
}

.form-header{
    font-weight: bold;
    font-size: 1.25rem;
}


/* Remove Input Fields Styling */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

/* Typography */
.order-header {
    text-align: center;
    margin: 50px 0;
}

/* Utility classes */
.bold{
    font-weight: bold;
}

.lighter{
    opacity: .5;
}

.cursor{
    cursor: pointer;
}

.green-btn{
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: large;
    width: 100%;
    background-color: #16DB99;
    padding: 20px 30px;
    margin: 20px 0 30px;
}

.pay-btn{
    margin-bottom: 0px;
}